.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, banner-principal h5, .banner-principal h6 
  color: #000
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #FFFF
.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #E2C140

.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #E2C140

.banner-principal__img img
  width: 360px

.titulo-segundo::after 
  content: ''
  display: block
  height: 3px
  width: 140px
  border-left: solid 50px
  border-left-color: currentcolor
  border-left-color:  #E2C140
  background-color: #e8e8e8 
.contenedor-total
  position: relative
  width: 100%
  padding-bottom: 4rem
.pRelative
  position: relative
.backtoTop
  width: 65px
  position: relative
  top: -1.5rem
  float: right
.backtoTop-1
  width: 65px
  position: relative
  top: -1rem
  float: right
.pRelative_1
  position: relative
  margin-inline-end:  -0.8rem
  margin-top: -2rem
.backtoTop_1
  width: 105px
  position: relative
  top: 1rem
  float: right
  margin-bottom: 1rem
.backtoTop-2
  width: 65px
  position: relative
  top: -0.5rem
  float: right
.pRelative_2
  position: relative
  margin-inline-end:  -0.8rem
  margin-top: -7rem
.floatRight
  float: right
.contenedor
  padding-left: 3rem
  padding-right: 3rem
  margin-left: -3rem
  margin-right: -3rem
.contenedor-text
  position: absolute
  bottom: 30%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 83%
  height: 120px
  background-repeat: no-repeat
  background-size: cover
  background: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 100%)
  //filter: drop-shadow(2px 4px 6px grey)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: relative
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(-50%) translateY(0%)
.contenedor-text-2
  position: absolute
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 90%
  height: 120px
  background-repeat: no-repeat
  background-size: cover
  background: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 100%)
  //filter: drop-shadow(2px 4px 6px grey)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: relative
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(-50%) translateY(0%)
.contenedor-text-3
  position: absolute
  bottom: -70%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 93%
  height: 120px
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../assets/curso/images/tema1/back_intro.svg')
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: relative
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(-50%) translateY(0%)
.contenedor-text-4
  position: absolute
  bottom: -10%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 93%
  height: 100px
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../assets/curso/images/tema1/back_intro.svg')
  //filter: drop-shadow(2px 4px 6px grey)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: relative
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(-50%) translateY(0%)
.contenedor-text-tema2
  position: absolute
  bottom: -70%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 93%
  height: 120px
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../assets/curso/images/tema1/back_intro.svg')
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: relative
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(-50%) translateY(0%)
.jumbotron
  background-color: #FFE597
  margin-top: -5rem
  margin-left: 70px
.tarjeta--sencilla
  border-radius: 50px
  position: relative
  background-color: #4DD0E1
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)
.tarjeta-violeta
  background-color: #FF2C9C !important
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  width: 300px
.fondo-1
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -48px !important
  margin-inline-end: -49px !important
  padding: 2.5rem
.fondo-2
  background: linear-gradient(274deg, rgba(33,62,100,1) 0%, rgba(128,145,167,1) 79%, rgba(255,255,255,1) 90%)
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: 50px !important
  width: 1100px
.fondo-3
  background-image: url('../assets/curso/images/tema1/back_4.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -48px !important
  margin-inline-end: -49px !important
.fondo-4
  background-image: url('../assets/curso/images/tema1/back_5.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -30px !important
  padding: 2.5rem
.fondo-5
  background-image: url('../assets/curso/images/tema1/back_slyder.svg')
  background-size: cover
  background-repeat: no-repeat 
  padding: 1.5rem
  z-index: 1
  border-radius: 30px
.fondo-6
  background-image: url('../assets/curso/images/tema1/back_6.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -30px !important
  padding: 2.5rem
.fondo-7
  background-image: url('../assets/curso/images/tema1/back_6.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -30px !important
  padding: 2.5rem
.fondo-8
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -30px !important
  padding: 2.5rem
.fondo-9
  background-image: url('../assets/curso/images/tema3/back_1.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -47px !important
  margin-inline-end: -50px !important
@media screen and (max-width: 992px)
  margin-inline-start: 0px !important
  margin-inline-end: 0px !important
.fondo-10
  background-image: url('../assets/curso/images/tema2/back_tema_2.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -47px !important
  margin-inline-end: -50px !important
  margin-bottom: -5rem
.fondo-11
  background-image: url('../assets/curso/images/tema1/back_18.svg')
  background-size: cover
  background-repeat: no-repeat 
  padding: 1.5rem
  margin-inline-start: -200px  !important
  margin-inline-end: -95px !important
  height: 240px
  @media (max-width: 992px)
    position: absolute
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(1000rem) translateY(0%)
.fondo-12
  background-image: url('../assets/curso/images/tema1/back_18.svg')
  background-size: 56%
  background-repeat: no-repeat 
  padding: 1rem
  margin-inline-start: -180px  !important
  margin-inline-end: -1150px !important
  height: 265px
  @media (max-width: 992px)
    position: absolute
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(1000rem) translateY(0%)
.fondo-13
  background-image: url('../assets/curso/images/tema1/back_18.svg')
  background-size: 55%
  background-repeat: no-repeat 
  padding: 1rem
  margin-inline-start: -180px  !important
  margin-inline-end: -1300px !important
  height: 240px
  @media (max-width: 992px)
    position: absolute
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(1000rem) translateY(0%)
.fondo-14
  background-image: url('../assets/curso/images/tema1/back_1_2.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -47px !important
  margin-inline-end: -50px !important
.fondo-15
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-size: cover
  background-repeat: no-repeat 
.fondo-16
  background-image: url('../assets/curso/images/tema1/back_6.svg')
  background-size: cover
  background-repeat: no-repeat 
.fondo-17
  background-image: url('../assets/curso/images/tema3/back_2.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -48px !important
  margin-inline-end: -48px !important
.fondo-18
  background: linear-gradient(0deg, rgba(33,62,100,1) 0%, rgba(148,190,222,1) 48%, rgba(223,235,245,1) 74%)
  background-position: center
  margin-inline-start: 60px
  padding: 15px
.fondo-19
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-size: cover
  background-repeat: no-repeat 
  margin-inline-start: -47px !important
  margin-inline-end: -50px !important
.color-custom
  background-color: #FFDFF0
  &::before
    background-color: #FAA7D3 
.color-custom-1
	background-color:#F6F6F6
	&::before
		background-color:#12263F
.color-custom-2
  background-color: #F3E9B4
  &::before
    background-color:  #E2C140
.color-custom-3
	background-color:#12263F
	&::before
		background-color: #F6F6F6 

.color-custom-10
  border-top-color: #F7F2DE

.z-in
  z-index: 3




.slyder-a__bullets__item 
    width: 15px
    height: 15px
    background-color: rgb(3, 155, 229)
    box-shadow: #E2C140 0px 0px 5px 0px;
    cursor: pointer
    opacity: 0.7
    border-radius: 50%
    margin: 0px 10px
    transition: opacity 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s
    border-width: 1px
    border-style: solid
    border-color: #707070
    border-image: initial



button:hover, button:focus, [type="button"]:hover, [type="button"]:focus, [type="reset"]:hover, [type="reset"]:focus, [type="submit"]:hover, [type="submit"]:focus 
  background-color: #12263F
  color: #000
.bg-color
  padding: 6px
  background-color: #12263F
  width: 370px !important
.p-text
  margin-top: -7rem
.bg-color-1
  padding: 6px
  background-color: #12263F
  width: 170px !important
.bg-color-2
  padding: 6px
  background-color: #12263F
  width: 200px !important
.bg-color-4
  padding: 6px
  background-color: #12263F
  width: 75px !important
.bg-color-5  
  padding: 6px
  background-color: #12263F
  width: 250px !important
.bg-color-6
  padding: 6px
  background-color: #12263F
  width: 100px !important
.bg-color-7
  padding: 6px
  background-color: #12263F
  width: 440px !important
.bg-color-8
  padding: 6px
  background-color: #12263F
  width: 500px !important
.bg-color-9
  padding: 6px
  background-color: #12263F
  width: 370px !important
.bg-color-10
  padding: 6px
  background-color: #12263F
  width: 220px !important
.bg-color-11
  padding: 6px
  background-color: #12263F
  width: 180px !important
.bg-color-12
  padding: 6px
  background-color: #12263F
  width: 300px !important
.tarjeta--sencilla
  border-radius: 50px
  position: relative
  width: 300px
  background: linear-gradient(0deg, rgba(3,155,229,1) 0%, rgba(77,208,225,1) 48%)
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)
.tarjeta--sencilla-1
  border-radius: 50px
  position: relative
  width: 300px
  background: #F2F4FC
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.16)
  -moz-box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.16)
  box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.16)
  @media (max-width: 992px)
    width: 100%
.tema1-1 .bloque-texto-a__texto     
  background-color: rgba(248, 248, 248, 0.904) !important
.btn
  z-index: 1
  margin-top: -35px
.color-tarjeta-1
  background-color: #E4F5FB
.tj
  z-index: 1
.sp1
  background: linear-gradient(0deg, rgba(0,57,149,1) 0%, rgba(5,139,204,1) 59%)
  box-shadow: 2px 3px 5px 3px #dfdfdf
.pasos-a.color-acento-botones .pasos-a__circle div 
  color: #FFFF
.text-end 
  text-align: left !important
.aling
  text-align: center !important
  top: 30px
.aling-1
  text-align: center !important
  margin-right: -20rem
  top: 30px
.tema1-1 .bloque-texto-a__texto     
  background-color: rgba(248, 248, 248, 0.904) !important
.tslyder
  margin-block-end: 8.5rem

.img-infografica.color-secundario .img-infografica__item__dot::before, .img-infografica.color-secundario .img-infografica__item__dot::after, .img-infografica.color-secundario .img-infografica-b__item__dot::before, .img-infografica.color-secundario .img-infografica-b__item__dot::after, .img-infografica-b.color-secundario .img-infografica__item__dot::before, .img-infografica-b.color-secundario .img-infografica__item__dot::after, .img-infografica-b.color-secundario .img-infografica-b__item__dot::before, .img-infografica-b.color-secundario .img-infografica-b__item__dot::after 
  background-color: #FFF
.contenedor
  padding-left: 3rem
  padding-right: 3rem
  margin-left: -3rem
  margin-right: -3rem
  bottom: 0%
.contenedor-text
  position: absolute
  bottom: 0%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 95%
  height: 138px
  background-size: cover
  background-image: url('../assets/curso/images/tema1/back_intro.svg')

.aling-2
  text-align: left !important
  margin-left: -12rem
  margin-bottom: 7rem
.aling-3
  text-align: left  !important
  margin-left: 11.5rem
  margin-bottom: -1rem
.aling-4
  text-align: left  !important
  margin-left: 1.5rem
  margin-bottom: 1rem
  margin-right: -3rem
.aling-5
  text-align: left  !important
  margin-left: -0.1rem
.aling-6
  text-align: left  !important
  margin-right: 2rem
  margin-left: 2rem
.aling-7
  text-align: left  !important
  margin-left: 2rem
.aling-8
  margin-top: -2rem
  margin-left: 4rem
.aling-9
  text-align: justify !important
  margin-left: -2rem
  margin-bottom: 2rem
.aling-10
  text-align: justify !important
  margin-left: -1rem
.aling-11
  margin-top: 0.5rem
  margin-left: 3rem
.aling-12
  text-align: center  !important
  margin-left: 8rem
  margin-right: -5rem
.aling-13
  text-align: center  !important
  margin-left: 7rem
.aling-14
  text-align: left  !important
  margin-left: 4.5rem
  margin-bottom: -1rem
.aling-15
  text-align: justify !important
  margin-left: -1rem
  margin-bottom: -4rem
.aling-16
  text-align: justify !important
  margin-top: -2.5rem
  margin-left: 1rem
.aling-8.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 50
  height: 50px
  background-color: #039BE5
  border-radius: 50%
  background-repeat: no-repeat
  background-size: 16px 24px
  background-position: center
  border: #707070
    border-top-color: rgb(112, 112, 112)
    border-right-color: rgb(112, 112, 112)
    border-bottom-color: rgb(112, 112, 112)
    border-left-color: rgb(112, 112, 112)
  top: 50%
  z-index: 10000
  opacity: 0.7
  box-shadow: #FFF
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer
  text-align: left  !important
  margin-left: 4rem

.mg-slyder
  margin-inline-start: -47px !important
  margin-inline-end: -50px !important
@media screen and (max-width: 992px)
  margin-inline-start: 0px !important
  margin-inline-end: 0px !important
.cd
  width: 94%
  height: 160px
  bottom: -130px
.elemento 
  color: #FF2C9C
  width: 150% !important
.tarjeta-avatar .tarjeta 
  display: inline-block
  padding-top: 60px !important
  height: 100%
  border-top-right-radius: 2rem
  border-top-left-radius: 2rem
  border-bottom-left-radius: 2rem
  border-bottom-right-radius: 2rem

.banner-interno__fondo
  background-image: url("../assets/curso/images/header/interno.svg") !important
  background-repeat: no-repeat  
h1 
  font-size: 2em
.slyder-a__bullets__item:hover 
  opacity: 1
  box-shadow: 0 0 5px 0px #E2C140 
  border-color: #E2C140 
.slyder-a__bullets__item 
  width: 15px
  height: 15px
  background-color: #039BE5
  border-radius: 50%
  box-shadow: 0 0 5px 0px #039BE5
  margin: 0 10px
  cursor: pointer
  opacity: 0.7
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  border: 1px solid #039BE5
    border-top-color: rgb(216, 236, 255)
    border-right-color: rgb(216, 236, 255)
    border-bottom-color: rgb(216, 236, 255)
    border-left-color: rgb(216, 236, 255)
.slyder-a__bullets__item:hover 
  opacity: 1
  box-shadow: 0 0 5px 0px #E2C140
  border-color: #E2C140
.slyder-a__tipo-b .slyder-a__btn--sigt 
  transform: rotate(-100deg)
  right: 15px
  color-font: #ffff
slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 50
  height: 50px
  background-color: #039BE5
  border-radius: 50%
  background-repeat: no-repeat
  background-size: 16px 24px
  background-position: center
  border: #707070
  top: 50%
  z-index: 10000
  opacity: 0.7
  box-shadow: #FFF
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer
.slyder-a__bullets__item--active
  background-color: #E2C140
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 50px
  height: 50px
  background-color: #039BE5
  border-radius: 50%
  background-image: url("../assets/curso/images/tema1/btn.svg")
  background-repeat: no-repeat
  background-size: 16px 24px
  background-position: center
  border: 1px solid #D8ECFF
  top: 50%
  z-index: 10000
  opacity: 0.7
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3)
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer
  @media (max-width: 992px)
    width: 40px
    height: 40px
.slyder-a__btn--atrs 
  @media (max-width: 992px)
    margin-left: 0px   
.slyder-a__tipo-b .slyder-a__btn--sigt 
  transform: rotate(-90deg)
  right: 15px
  color-font: #ffff
.container-top
  border-radius: 20px 20px 0 0
.container-bottom
  border-radius: 0 0 20px 20px
.mg-top
  margin-top: -70px
.mb-botton
  margin-bottom: 8rem
.caja
  background-color: white
  font-weight: bold
  text-align: center
  margin: 5px
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  box-shadow: 3px 3px 5px 2px #dddbdb
  z-index: 1
.flex-container
  display: flex
  flex-wrap: nowrap
  text-align: center
  flex-direction: row
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  margin-top: -5rem !important
  margin-left: 18rem !important
  flex-flow: row 
  z-index: 3
  width: 94%
  margin: 0 auto
  @media (max-width: 992px)
    margin-left: 0rem !important
    padding: 0px
.tarjeta_white-1
  background-color: white
  border: 1px solid #707070 !important
  box-shadow: 3px 3px #ccc
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  z-index: 1
.pe-3 
  padding-right: -5rem !important
.pe-3 
  padding-left: -5rem !important

.esquina
  background-image: url('../assets/curso/images/tema1/esquina.png')    
  background-repeat: no-repeat
  background-position: bottom left
.bg-tema1-4
  background-image: url('../assets/curso/images/tema1/back_new.png')
  background-position: 50% 38%
  background-size: 100% 80%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
  @media screen and (min-width: 1398px)
    background-size: 100% 80%
    background-position: 60% 44%
.bg-tema2-1
  background-image: url('../assets/curso/images/tema2/tema2-1-bg1.png')
  background-position: 50% 75%
  background-size: 100% 80%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
  @media screen and (min-width: 1398px)
    background-size: 100% 80%
    background-position: 50% 75%
.bg-tema-1
  background-image: url('../assets/curso/images/tema2/tema2-1-bg1.png')
  background-position: 50% 38%
  background-size: 100% 80%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
  @media screen and (min-width: 1398px)
    background-size: 100% 80%
    background-position: 50% 34%

.pasos-a__linea__esquina__linea 
  border: 3px solid
  width: 100%
  position: relative
  border-radius: 0px
.pasos-a__circle 
  width: 65px
  height: 65px
  min-width: 65px
.pasos-a.color-acento-botones .pasos-a__circle div  
  font-size: 30px


.tarjeta--gris
  background-color: #F6F6F6 !important

.linea-tiempo-d__item--selected  
  .linea-tiempo-d__item__content__slot
    background: #F7F2DE !important
  .tarjeta--gris    
    background: #F7F2DE !important

.linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background: #E2C140 !important


/* --- AB --- */ 
.text-bold
  font-weight: bold
.pos-relative
  position: relative  
.border-10
  border-radius: 10px
.neg--top 
  margin-top: -2.5rem
  @media (max-width: 992px)
    margin-top: -1.5rem

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item .linea-tiempo-d__item__number
  font-size: 20px
.linea-tiempo-d__item .linea-tiempo-d__item__content__title  
  font-size: 19px
  padding: 20px 0px
  @media (max-width: 992px)
    font-size: 16px
    padding: 30px 0px
    

.slyder-a__bullets__item     
  background-color: #2A81A5
  box-shadow: 0 0 0px 0px #039be5
  border: 0px
.slyder-a__bullets__item--active
  background-color: #E2C140

.tarjeta-avatar-b img
  position: absolute
  top: 25%
  left: -3%
.tarjeta-avatar-b .tarjeta   
  margin-left: 1%
  padding-left: 10%
  @media (max-width: 992px)
    margin-left: 12%
    padding-left: 11%

.slyder-f .sp1, .slyder-f .horizontal-scroll, .slyder-f .slyder-f__slyde, .slyder-f .horizontal-scroll__wrapper
  height: 100%

.slyder-f__btn i 
  color: #FF2C9C  

.pasos-a__linea .hor-line 
  top: 18px  
.pasos-a__linea .left-bottom
  top: calc(53% - 3px) 
.pasos-a__linea .right-bottom
  top: calc(51% - 3px)  
.pasos-a .full::after
  left: 51%

.tarjetas-tema1 img
  border-radius: 50%
  box-shadow: 2px 2px 4px 1px #b1b1b1a3 

.bg-degrade-gris-horizontal 
  background: rgb(222,222,222)
  background: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 100%)  